:3000 {
    root * /usr/share/caddy
    file_server
    
    # Proxy ke backend via network internal Docker
    handle_path /api/* {
        reverse_proxy api-preventive-tahuna:3000
    }

    # Proxy ke auth service untuk Google OAuth
    handle /auth/* {
        reverse_proxy simple-auth-service:3000
    }

    try_files {path} /index.html
}