:3000 {
    root * /usr/share/caddy
    file_server
    
    # Proxy ke backend via network internal Docker
    handle /api/* {
        reverse_proxy http://api-preventive-tahuna:3000
    }

    try_files {path} /index.html
}